Proyecto integrador/Web/Proyecto 1.2 proyeco Reparado/MCTuristic_Centro_Historico/MCTuristic_Centro_Historico/Web References/localhost/WsMCTuristic.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:UsuarioBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UsuarioBO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FecharNacUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelefonoUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContraseñaUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidosUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Foto" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:UsuarioBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:UsuarioBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtener_usuarioid">
        <s:complexType />
      </s:element>
      <s:element name="obtener_usuarioidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtener_usuarioidResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:UsuarioBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarDireccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:DireccionBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DireccionBO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdDireccion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdAdministrador" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodPostal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Colonia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionDireccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cruzamiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Calle" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EliminarDireccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarDireccionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarDireccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:DireccionBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarDireccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarDireccionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarDireccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:DireccionBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarDireccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarDireccionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarEstablecimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:EstablecimientoBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EstablecimientoBO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdEstablecimiento" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitud" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitud" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="PagFacebook" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoraCierreEstable" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoraInicioEstable" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelefonoEstable" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreEstable" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Foto" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertarEstablecimientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarEstablecimientoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarEstablecimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:EstablecimientoBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarEstablecimientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarEstablecimientoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarEstablecimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:EstablecimientoBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarEstablecimientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarEstablecimientoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarEvento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:EventoBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EventoBO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdSitio" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaFinalizacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaInicio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoraFinalizacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoraInicioEvento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreEvento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdEvento" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Foto" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertarEventoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarEventoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarEvento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:EventoBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarEventoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarEventoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarEvento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:EventoBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarEventoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarEventoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarNotificacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:NotificacionesBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NotificacionesBO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdEvento" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdNotificacion" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertarNotificacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarNotificacionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarNotificaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:NotificacionesBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarNotificacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarNotificacionesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarNotificaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:NotificacionesBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarNotificacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarNotificacionesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarServicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:ServicioBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServicioBO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoServicio" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionServicio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecioServicio" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="OfertaServicio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdServicio" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdEstablecimiento" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreServicio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Foto" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="Popularidad" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertarServicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarServicioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarServicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:ServicioBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarServicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarServicioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarServicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:ServicioBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarServicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarServicioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="topServicios">
        <s:complexType />
      </s:element>
      <s:element name="topServiciosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="topServiciosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verFotoSer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Ser" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verFotoSerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verFotoSerResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarSitio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:SitioBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SitioBO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoSitio" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SucesoImportante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FotoSitio" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="LatitudSitio" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LongitudSitio" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Historia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionSitio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreSitio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdSitio" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertarSitioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarSitioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarSitio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:SitioBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarSitioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarSitioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarSitio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:SitioBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarSitioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarSitioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarSoporte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:SoporteBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SoporteBO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Asunto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ComentarioSoporte" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdSoporte" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertarSoporteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarSoporteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarSoporte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:SoporteBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarSoporteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarSoporteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarSoporte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:SoporteBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarSoporteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarSoporteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarTipoServicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TipoServicioBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TipoServicioBO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NombreServicio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoServicio" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertarTipoServicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarTipoServicioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarTipoServicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TipoServicioBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarTipoServicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarTipoServicioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarTipoServicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TipoServicioBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarTipoServicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarTipoServicioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarTipoSitio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TipoSitioBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TipoSitioBO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DescripcicionSitio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreSitio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoSitio" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertarTipoSitioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarTipoSitioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarTipoSitio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TipoSitioBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarTipoSitioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarTipoSitioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarTipoSitio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TipoSitioBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarTipoSitioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarTipoSitioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarTipoSuscripcion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TipoSuscripcionBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TipoSuscripcionBO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TiempoSuscripcion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MontoSuscripcion" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreTipoSuscri" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoSuscripcion" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertarTipoSuscripcionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarTipoSuscripcionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarTipoSuscripcion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TipoSuscripcionBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarTipoSuscripcionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarTipoSuscripcionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarTipoSuscripcion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TipoSuscripcionBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarTipoSuscripcionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarTipoSuscripcionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarContactanos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:ContactanosBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ContactanosBO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdContactanos" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Contenido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Asunto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailContacto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoContacto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreContacto" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertarContactanosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarContactanosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarContactanos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:ContactanosBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarContactanosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarContactanosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarContactanos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:ContactanosBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarContactanosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarContactanosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:AdministradorBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AdministradorBO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdAdministrador" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fechanacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefonoadmin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contraseñaadmin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellidosadmin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombreadmin" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarAdministrador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:AdministradorBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarAdministradorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarAdministradorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarAdministrador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:AdministradorBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarAdministradorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarAdministradorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarAdministrador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:AdministradorBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarAdministradorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarAdministradorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarComentarios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:ComentariosBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ComentariosBO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Contenido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdComentario" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertarComentariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarComentariosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarComentarios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:ComentariosBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarComentariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarComentariosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarComentarios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:ComentariosBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarComentariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarComentariosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarSuscripcion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:SuscripcionBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SuscripcionBO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdUsuario" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaPago" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IdSuscripcion" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertarSuscripcionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarSuscripcionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarSuscripcion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:SuscripcionBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarSuscripcionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarSuscripcionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarSuscripcion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:SuscripcionBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarSuscripcionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarSuscripcionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarUsuario" />
  </wsdl:message>
  <wsdl:message name="InsertarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarUsuario" />
  </wsdl:message>
  <wsdl:message name="ModificarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="EliminarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="obtener_usuarioidSoapIn">
    <wsdl:part name="parameters" element="tns:obtener_usuarioid" />
  </wsdl:message>
  <wsdl:message name="obtener_usuarioidSoapOut">
    <wsdl:part name="parameters" element="tns:obtener_usuarioidResponse" />
  </wsdl:message>
  <wsdl:message name="LoginUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:LoginUsuario" />
  </wsdl:message>
  <wsdl:message name="LoginUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:LoginUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarDireccionSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarDireccion" />
  </wsdl:message>
  <wsdl:message name="EliminarDireccionSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarDireccionResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarDireccionSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarDireccion" />
  </wsdl:message>
  <wsdl:message name="InsertarDireccionSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarDireccionResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarDireccionSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarDireccion" />
  </wsdl:message>
  <wsdl:message name="ModificarDireccionSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarDireccionResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarEstablecimientoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarEstablecimiento" />
  </wsdl:message>
  <wsdl:message name="InsertarEstablecimientoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarEstablecimientoResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarEstablecimientoSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarEstablecimiento" />
  </wsdl:message>
  <wsdl:message name="ModificarEstablecimientoSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarEstablecimientoResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarEstablecimientoSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarEstablecimiento" />
  </wsdl:message>
  <wsdl:message name="EliminarEstablecimientoSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarEstablecimientoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarEventoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarEvento" />
  </wsdl:message>
  <wsdl:message name="InsertarEventoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarEventoResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarEventoSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarEvento" />
  </wsdl:message>
  <wsdl:message name="ModificarEventoSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarEventoResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarEventoSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarEvento" />
  </wsdl:message>
  <wsdl:message name="EliminarEventoSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarEventoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarNotificacionSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarNotificacion" />
  </wsdl:message>
  <wsdl:message name="InsertarNotificacionSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarNotificacionResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarNotificacionesSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarNotificaciones" />
  </wsdl:message>
  <wsdl:message name="ModificarNotificacionesSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarNotificacionesResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarNotificacionesSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarNotificaciones" />
  </wsdl:message>
  <wsdl:message name="EliminarNotificacionesSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarNotificacionesResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarServicioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarServicio" />
  </wsdl:message>
  <wsdl:message name="InsertarServicioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarServicioResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarServicioSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarServicio" />
  </wsdl:message>
  <wsdl:message name="ModificarServicioSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarServicioResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarServicioSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarServicio" />
  </wsdl:message>
  <wsdl:message name="EliminarServicioSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarServicioResponse" />
  </wsdl:message>
  <wsdl:message name="topServiciosSoapIn">
    <wsdl:part name="parameters" element="tns:topServicios" />
  </wsdl:message>
  <wsdl:message name="topServiciosSoapOut">
    <wsdl:part name="parameters" element="tns:topServiciosResponse" />
  </wsdl:message>
  <wsdl:message name="verFotoSerSoapIn">
    <wsdl:part name="parameters" element="tns:verFotoSer" />
  </wsdl:message>
  <wsdl:message name="verFotoSerSoapOut">
    <wsdl:part name="parameters" element="tns:verFotoSerResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarSitioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarSitio" />
  </wsdl:message>
  <wsdl:message name="InsertarSitioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarSitioResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarSitioSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarSitio" />
  </wsdl:message>
  <wsdl:message name="ModificarSitioSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarSitioResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarSitioSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarSitio" />
  </wsdl:message>
  <wsdl:message name="EliminarSitioSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarSitioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarSoporteSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarSoporte" />
  </wsdl:message>
  <wsdl:message name="InsertarSoporteSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarSoporteResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarSoporteSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarSoporte" />
  </wsdl:message>
  <wsdl:message name="ModificarSoporteSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarSoporteResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarSoporteSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarSoporte" />
  </wsdl:message>
  <wsdl:message name="EliminarSoporteSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarSoporteResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarTipoServicioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarTipoServicio" />
  </wsdl:message>
  <wsdl:message name="InsertarTipoServicioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarTipoServicioResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarTipoServicioSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarTipoServicio" />
  </wsdl:message>
  <wsdl:message name="ModificarTipoServicioSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarTipoServicioResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarTipoServicioSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarTipoServicio" />
  </wsdl:message>
  <wsdl:message name="EliminarTipoServicioSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarTipoServicioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarTipoSitioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarTipoSitio" />
  </wsdl:message>
  <wsdl:message name="InsertarTipoSitioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarTipoSitioResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarTipoSitioSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarTipoSitio" />
  </wsdl:message>
  <wsdl:message name="ModificarTipoSitioSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarTipoSitioResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarTipoSitioSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarTipoSitio" />
  </wsdl:message>
  <wsdl:message name="EliminarTipoSitioSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarTipoSitioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarTipoSuscripcionSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarTipoSuscripcion" />
  </wsdl:message>
  <wsdl:message name="InsertarTipoSuscripcionSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarTipoSuscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarTipoSuscripcionSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarTipoSuscripcion" />
  </wsdl:message>
  <wsdl:message name="ModificarTipoSuscripcionSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarTipoSuscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarTipoSuscripcionSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarTipoSuscripcion" />
  </wsdl:message>
  <wsdl:message name="EliminarTipoSuscripcionSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarTipoSuscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarContactanosSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarContactanos" />
  </wsdl:message>
  <wsdl:message name="InsertarContactanosSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarContactanosResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarContactanosSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarContactanos" />
  </wsdl:message>
  <wsdl:message name="ModificarContactanosSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarContactanosResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarContactanosSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarContactanos" />
  </wsdl:message>
  <wsdl:message name="EliminarContactanosSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarContactanosResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarAdministradorSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarAdministrador" />
  </wsdl:message>
  <wsdl:message name="InsertarAdministradorSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarAdministradorSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarAdministrador" />
  </wsdl:message>
  <wsdl:message name="ModificarAdministradorSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarAdministradorSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarAdministrador" />
  </wsdl:message>
  <wsdl:message name="EliminarAdministradorSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarComentariosSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarComentarios" />
  </wsdl:message>
  <wsdl:message name="InsertarComentariosSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarComentariosResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarComentariosSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarComentarios" />
  </wsdl:message>
  <wsdl:message name="ModificarComentariosSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarComentariosResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarComentariosSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarComentarios" />
  </wsdl:message>
  <wsdl:message name="EliminarComentariosSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarComentariosResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarSuscripcionSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarSuscripcion" />
  </wsdl:message>
  <wsdl:message name="InsertarSuscripcionSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarSuscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarSuscripcionSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarSuscripcion" />
  </wsdl:message>
  <wsdl:message name="ModificarSuscripcionSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarSuscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarSuscripcionSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarSuscripcion" />
  </wsdl:message>
  <wsdl:message name="EliminarSuscripcionSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarSuscripcionResponse" />
  </wsdl:message>
  <wsdl:portType name="WsMCTuristicSoap">
    <wsdl:operation name="InsertarUsuario">
      <wsdl:input message="tns:InsertarUsuarioSoapIn" />
      <wsdl:output message="tns:InsertarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <wsdl:input message="tns:ModificarUsuarioSoapIn" />
      <wsdl:output message="tns:ModificarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input message="tns:EliminarUsuarioSoapIn" />
      <wsdl:output message="tns:EliminarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtener_usuarioid">
      <wsdl:input message="tns:obtener_usuarioidSoapIn" />
      <wsdl:output message="tns:obtener_usuarioidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginUsuario">
      <wsdl:input message="tns:LoginUsuarioSoapIn" />
      <wsdl:output message="tns:LoginUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarDireccion">
      <wsdl:input message="tns:EliminarDireccionSoapIn" />
      <wsdl:output message="tns:EliminarDireccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarDireccion">
      <wsdl:input message="tns:InsertarDireccionSoapIn" />
      <wsdl:output message="tns:InsertarDireccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarDireccion">
      <wsdl:input message="tns:ModificarDireccionSoapIn" />
      <wsdl:output message="tns:ModificarDireccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarEstablecimiento">
      <wsdl:input message="tns:InsertarEstablecimientoSoapIn" />
      <wsdl:output message="tns:InsertarEstablecimientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarEstablecimiento">
      <wsdl:input message="tns:ModificarEstablecimientoSoapIn" />
      <wsdl:output message="tns:ModificarEstablecimientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEstablecimiento">
      <wsdl:input message="tns:EliminarEstablecimientoSoapIn" />
      <wsdl:output message="tns:EliminarEstablecimientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarEvento">
      <wsdl:input message="tns:InsertarEventoSoapIn" />
      <wsdl:output message="tns:InsertarEventoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarEvento">
      <wsdl:input message="tns:ModificarEventoSoapIn" />
      <wsdl:output message="tns:ModificarEventoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEvento">
      <wsdl:input message="tns:EliminarEventoSoapIn" />
      <wsdl:output message="tns:EliminarEventoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarNotificacion">
      <wsdl:input message="tns:InsertarNotificacionSoapIn" />
      <wsdl:output message="tns:InsertarNotificacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarNotificaciones">
      <wsdl:input message="tns:ModificarNotificacionesSoapIn" />
      <wsdl:output message="tns:ModificarNotificacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarNotificaciones">
      <wsdl:input message="tns:EliminarNotificacionesSoapIn" />
      <wsdl:output message="tns:EliminarNotificacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarServicio">
      <wsdl:input message="tns:InsertarServicioSoapIn" />
      <wsdl:output message="tns:InsertarServicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarServicio">
      <wsdl:input message="tns:ModificarServicioSoapIn" />
      <wsdl:output message="tns:ModificarServicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarServicio">
      <wsdl:input message="tns:EliminarServicioSoapIn" />
      <wsdl:output message="tns:EliminarServicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="topServicios">
      <wsdl:input message="tns:topServiciosSoapIn" />
      <wsdl:output message="tns:topServiciosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verFotoSer">
      <wsdl:input message="tns:verFotoSerSoapIn" />
      <wsdl:output message="tns:verFotoSerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarSitio">
      <wsdl:input message="tns:InsertarSitioSoapIn" />
      <wsdl:output message="tns:InsertarSitioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarSitio">
      <wsdl:input message="tns:ModificarSitioSoapIn" />
      <wsdl:output message="tns:ModificarSitioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSitio">
      <wsdl:input message="tns:EliminarSitioSoapIn" />
      <wsdl:output message="tns:EliminarSitioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarSoporte">
      <wsdl:input message="tns:InsertarSoporteSoapIn" />
      <wsdl:output message="tns:InsertarSoporteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarSoporte">
      <wsdl:input message="tns:ModificarSoporteSoapIn" />
      <wsdl:output message="tns:ModificarSoporteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSoporte">
      <wsdl:input message="tns:EliminarSoporteSoapIn" />
      <wsdl:output message="tns:EliminarSoporteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarTipoServicio">
      <wsdl:input message="tns:InsertarTipoServicioSoapIn" />
      <wsdl:output message="tns:InsertarTipoServicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarTipoServicio">
      <wsdl:input message="tns:ModificarTipoServicioSoapIn" />
      <wsdl:output message="tns:ModificarTipoServicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarTipoServicio">
      <wsdl:input message="tns:EliminarTipoServicioSoapIn" />
      <wsdl:output message="tns:EliminarTipoServicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarTipoSitio">
      <wsdl:input message="tns:InsertarTipoSitioSoapIn" />
      <wsdl:output message="tns:InsertarTipoSitioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarTipoSitio">
      <wsdl:input message="tns:ModificarTipoSitioSoapIn" />
      <wsdl:output message="tns:ModificarTipoSitioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarTipoSitio">
      <wsdl:input message="tns:EliminarTipoSitioSoapIn" />
      <wsdl:output message="tns:EliminarTipoSitioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarTipoSuscripcion">
      <wsdl:input message="tns:InsertarTipoSuscripcionSoapIn" />
      <wsdl:output message="tns:InsertarTipoSuscripcionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarTipoSuscripcion">
      <wsdl:input message="tns:ModificarTipoSuscripcionSoapIn" />
      <wsdl:output message="tns:ModificarTipoSuscripcionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarTipoSuscripcion">
      <wsdl:input message="tns:EliminarTipoSuscripcionSoapIn" />
      <wsdl:output message="tns:EliminarTipoSuscripcionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarContactanos">
      <wsdl:input message="tns:InsertarContactanosSoapIn" />
      <wsdl:output message="tns:InsertarContactanosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarContactanos">
      <wsdl:input message="tns:ModificarContactanosSoapIn" />
      <wsdl:output message="tns:ModificarContactanosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarContactanos">
      <wsdl:input message="tns:EliminarContactanosSoapIn" />
      <wsdl:output message="tns:EliminarContactanosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarAdministrador">
      <wsdl:input message="tns:InsertarAdministradorSoapIn" />
      <wsdl:output message="tns:InsertarAdministradorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarAdministrador">
      <wsdl:input message="tns:ModificarAdministradorSoapIn" />
      <wsdl:output message="tns:ModificarAdministradorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAdministrador">
      <wsdl:input message="tns:EliminarAdministradorSoapIn" />
      <wsdl:output message="tns:EliminarAdministradorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarComentarios">
      <wsdl:input message="tns:InsertarComentariosSoapIn" />
      <wsdl:output message="tns:InsertarComentariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarComentarios">
      <wsdl:input message="tns:ModificarComentariosSoapIn" />
      <wsdl:output message="tns:ModificarComentariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarComentarios">
      <wsdl:input message="tns:EliminarComentariosSoapIn" />
      <wsdl:output message="tns:EliminarComentariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarSuscripcion">
      <wsdl:input message="tns:InsertarSuscripcionSoapIn" />
      <wsdl:output message="tns:InsertarSuscripcionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarSuscripcion">
      <wsdl:input message="tns:ModificarSuscripcionSoapIn" />
      <wsdl:output message="tns:ModificarSuscripcionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSuscripcion">
      <wsdl:input message="tns:EliminarSuscripcionSoapIn" />
      <wsdl:output message="tns:EliminarSuscripcionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsMCTuristicSoap" type="tns:WsMCTuristicSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarUsuario">
      <soap:operation soapAction="http://tempuri.org/InsertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <soap:operation soapAction="http://tempuri.org/ModificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtener_usuarioid">
      <soap:operation soapAction="http://tempuri.org/obtener_usuarioid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUsuario">
      <soap:operation soapAction="http://tempuri.org/LoginUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDireccion">
      <soap:operation soapAction="http://tempuri.org/EliminarDireccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarDireccion">
      <soap:operation soapAction="http://tempuri.org/InsertarDireccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarDireccion">
      <soap:operation soapAction="http://tempuri.org/ModificarDireccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarEstablecimiento">
      <soap:operation soapAction="http://tempuri.org/InsertarEstablecimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEstablecimiento">
      <soap:operation soapAction="http://tempuri.org/ModificarEstablecimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEstablecimiento">
      <soap:operation soapAction="http://tempuri.org/EliminarEstablecimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarEvento">
      <soap:operation soapAction="http://tempuri.org/InsertarEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEvento">
      <soap:operation soapAction="http://tempuri.org/ModificarEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEvento">
      <soap:operation soapAction="http://tempuri.org/EliminarEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarNotificacion">
      <soap:operation soapAction="http://tempuri.org/InsertarNotificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarNotificaciones">
      <soap:operation soapAction="http://tempuri.org/ModificarNotificaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarNotificaciones">
      <soap:operation soapAction="http://tempuri.org/EliminarNotificaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarServicio">
      <soap:operation soapAction="http://tempuri.org/InsertarServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarServicio">
      <soap:operation soapAction="http://tempuri.org/ModificarServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarServicio">
      <soap:operation soapAction="http://tempuri.org/EliminarServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topServicios">
      <soap:operation soapAction="http://tempuri.org/topServicios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verFotoSer">
      <soap:operation soapAction="http://tempuri.org/verFotoSer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarSitio">
      <soap:operation soapAction="http://tempuri.org/InsertarSitio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarSitio">
      <soap:operation soapAction="http://tempuri.org/ModificarSitio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSitio">
      <soap:operation soapAction="http://tempuri.org/EliminarSitio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarSoporte">
      <soap:operation soapAction="http://tempuri.org/InsertarSoporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarSoporte">
      <soap:operation soapAction="http://tempuri.org/ModificarSoporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSoporte">
      <soap:operation soapAction="http://tempuri.org/EliminarSoporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarTipoServicio">
      <soap:operation soapAction="http://tempuri.org/InsertarTipoServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarTipoServicio">
      <soap:operation soapAction="http://tempuri.org/ModificarTipoServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarTipoServicio">
      <soap:operation soapAction="http://tempuri.org/EliminarTipoServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarTipoSitio">
      <soap:operation soapAction="http://tempuri.org/InsertarTipoSitio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarTipoSitio">
      <soap:operation soapAction="http://tempuri.org/ModificarTipoSitio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarTipoSitio">
      <soap:operation soapAction="http://tempuri.org/EliminarTipoSitio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarTipoSuscripcion">
      <soap:operation soapAction="http://tempuri.org/InsertarTipoSuscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarTipoSuscripcion">
      <soap:operation soapAction="http://tempuri.org/ModificarTipoSuscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarTipoSuscripcion">
      <soap:operation soapAction="http://tempuri.org/EliminarTipoSuscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarContactanos">
      <soap:operation soapAction="http://tempuri.org/InsertarContactanos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarContactanos">
      <soap:operation soapAction="http://tempuri.org/ModificarContactanos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarContactanos">
      <soap:operation soapAction="http://tempuri.org/EliminarContactanos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarAdministrador">
      <soap:operation soapAction="http://tempuri.org/InsertarAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarAdministrador">
      <soap:operation soapAction="http://tempuri.org/ModificarAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAdministrador">
      <soap:operation soapAction="http://tempuri.org/EliminarAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarComentarios">
      <soap:operation soapAction="http://tempuri.org/InsertarComentarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarComentarios">
      <soap:operation soapAction="http://tempuri.org/ModificarComentarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarComentarios">
      <soap:operation soapAction="http://tempuri.org/EliminarComentarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarSuscripcion">
      <soap:operation soapAction="http://tempuri.org/InsertarSuscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarSuscripcion">
      <soap:operation soapAction="http://tempuri.org/ModificarSuscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSuscripcion">
      <soap:operation soapAction="http://tempuri.org/EliminarSuscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsMCTuristicSoap12" type="tns:WsMCTuristicSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarUsuario">
      <soap12:operation soapAction="http://tempuri.org/InsertarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <soap12:operation soapAction="http://tempuri.org/ModificarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap12:operation soapAction="http://tempuri.org/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtener_usuarioid">
      <soap12:operation soapAction="http://tempuri.org/obtener_usuarioid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUsuario">
      <soap12:operation soapAction="http://tempuri.org/LoginUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDireccion">
      <soap12:operation soapAction="http://tempuri.org/EliminarDireccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarDireccion">
      <soap12:operation soapAction="http://tempuri.org/InsertarDireccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarDireccion">
      <soap12:operation soapAction="http://tempuri.org/ModificarDireccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarEstablecimiento">
      <soap12:operation soapAction="http://tempuri.org/InsertarEstablecimiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEstablecimiento">
      <soap12:operation soapAction="http://tempuri.org/ModificarEstablecimiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEstablecimiento">
      <soap12:operation soapAction="http://tempuri.org/EliminarEstablecimiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarEvento">
      <soap12:operation soapAction="http://tempuri.org/InsertarEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEvento">
      <soap12:operation soapAction="http://tempuri.org/ModificarEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEvento">
      <soap12:operation soapAction="http://tempuri.org/EliminarEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarNotificacion">
      <soap12:operation soapAction="http://tempuri.org/InsertarNotificacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarNotificaciones">
      <soap12:operation soapAction="http://tempuri.org/ModificarNotificaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarNotificaciones">
      <soap12:operation soapAction="http://tempuri.org/EliminarNotificaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarServicio">
      <soap12:operation soapAction="http://tempuri.org/InsertarServicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarServicio">
      <soap12:operation soapAction="http://tempuri.org/ModificarServicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarServicio">
      <soap12:operation soapAction="http://tempuri.org/EliminarServicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topServicios">
      <soap12:operation soapAction="http://tempuri.org/topServicios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verFotoSer">
      <soap12:operation soapAction="http://tempuri.org/verFotoSer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarSitio">
      <soap12:operation soapAction="http://tempuri.org/InsertarSitio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarSitio">
      <soap12:operation soapAction="http://tempuri.org/ModificarSitio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSitio">
      <soap12:operation soapAction="http://tempuri.org/EliminarSitio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarSoporte">
      <soap12:operation soapAction="http://tempuri.org/InsertarSoporte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarSoporte">
      <soap12:operation soapAction="http://tempuri.org/ModificarSoporte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSoporte">
      <soap12:operation soapAction="http://tempuri.org/EliminarSoporte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarTipoServicio">
      <soap12:operation soapAction="http://tempuri.org/InsertarTipoServicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarTipoServicio">
      <soap12:operation soapAction="http://tempuri.org/ModificarTipoServicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarTipoServicio">
      <soap12:operation soapAction="http://tempuri.org/EliminarTipoServicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarTipoSitio">
      <soap12:operation soapAction="http://tempuri.org/InsertarTipoSitio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarTipoSitio">
      <soap12:operation soapAction="http://tempuri.org/ModificarTipoSitio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarTipoSitio">
      <soap12:operation soapAction="http://tempuri.org/EliminarTipoSitio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarTipoSuscripcion">
      <soap12:operation soapAction="http://tempuri.org/InsertarTipoSuscripcion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarTipoSuscripcion">
      <soap12:operation soapAction="http://tempuri.org/ModificarTipoSuscripcion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarTipoSuscripcion">
      <soap12:operation soapAction="http://tempuri.org/EliminarTipoSuscripcion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarContactanos">
      <soap12:operation soapAction="http://tempuri.org/InsertarContactanos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarContactanos">
      <soap12:operation soapAction="http://tempuri.org/ModificarContactanos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarContactanos">
      <soap12:operation soapAction="http://tempuri.org/EliminarContactanos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarAdministrador">
      <soap12:operation soapAction="http://tempuri.org/InsertarAdministrador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarAdministrador">
      <soap12:operation soapAction="http://tempuri.org/ModificarAdministrador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAdministrador">
      <soap12:operation soapAction="http://tempuri.org/EliminarAdministrador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarComentarios">
      <soap12:operation soapAction="http://tempuri.org/InsertarComentarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarComentarios">
      <soap12:operation soapAction="http://tempuri.org/ModificarComentarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarComentarios">
      <soap12:operation soapAction="http://tempuri.org/EliminarComentarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarSuscripcion">
      <soap12:operation soapAction="http://tempuri.org/InsertarSuscripcion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarSuscripcion">
      <soap12:operation soapAction="http://tempuri.org/ModificarSuscripcion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSuscripcion">
      <soap12:operation soapAction="http://tempuri.org/EliminarSuscripcion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsMCTuristic">
    <wsdl:port name="WsMCTuristicSoap" binding="tns:WsMCTuristicSoap">
      <soap:address location="http://localhost:15567/UI/WsMCTuristic.asmx" />
    </wsdl:port>
    <wsdl:port name="WsMCTuristicSoap12" binding="tns:WsMCTuristicSoap12">
      <soap12:address location="http://localhost:15567/UI/WsMCTuristic.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>